.shop-cats {
	list-style: none;
	padding: 10px 0;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		clear: both;
	}

	&__item {
		display: block;
		float: left;
		width: 400px;
		margin: 0 0 25px 40px;
		position: relative;

		&__img {
			display: block;
			position: absolute;
			width: 30px;
			top: -5px;
			left: -35px;
		}

		&__title {
			text-transform: uppercase;
			font-size: 24px;
			color: #929292;
			margin: 0 0 10px 0;

			span {
				font-size: 16px;
				vertical-align: top;
				font-weight: normal;
			}
		}
	}
}

.shop-subcats {
	list-style: none;
	padding: 0;

	&__item {
		text-transform: uppercase;
		color: #0081ab;
		font-size: 16px;
		font-weight: 600;

		&:after {
			content: '|';
			display: inline-block;
			margin: 0 0 0 5px;
			color: #b3b3b3;

		}

		&:last-child:after {
			display: none;
		}

		display: inline-block;

		a {
			color: inherit;
			font-size: inherit;
			font-weight: inherit;
		}
	}
}