@charset "UTF-8";

@font-face {
	font-family: "PFDin TextCondPro";
	src: url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-regular.woff") format("woff"), url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-regular.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-regular.svg") format("svg");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "PFDin TextCondPro";
	src: url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-italic.woff") format("woff"), url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-italic.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-italic.svg") format("svg");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "PFDin TextCondPro";
	src: url("../fonts/PF Din Cond Pro/thin/pfdintextcondpro-thin.woff") format("woff"), url("../fonts/PF Din Cond Pro/thin/pfdintextcondpro-thin.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/thin/pfdintextcondpro-thin.svg") format("svg");
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: "PFDin TextCondPro";
	src: url("../fonts/PF Din Cond Pro/bold/pfdintextcondpro-bold.woff") format("woff"), url("../fonts/PF Din Cond Pro/bold/pfdintextcondpro-bold.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/bold/pfdintextcondpro-bold.svg") format("svg");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "PFDin TextCondPro";
	src: url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medium.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medium.svg") format("svg");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "PFDin TextCondPro";
	src: url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medital.woff") format("woff"), url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medital.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medital.svg") format("svg");
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: "Icomoon";
	src: url("../fonts/icomoon/fonts/icomoon.woff") format("woff"), url("../fonts/icomoon/fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon/fonts/icomoon.svg") format("svg");
	font-style: normal;
	font-weight: normal;
}

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio, canvas, progress, video {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden], template {
	display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background: transparent;
	&:active, &:hover {
		outline: 0;
	}
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b, strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button, input, optgroup, select, textarea {
	color: inherit;
	/* 1 */
	font: inherit;
	/* 2 */
	margin: 0;
	/* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
	text-transform: none;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button, html input[type="button"] {
	-webkit-appearance: button;
	/* 2 */
	cursor: pointer;
	/* 3 */
}

input {
	&[type="reset"], &[type="submit"] {
		-webkit-appearance: button;
		/* 2 */
		cursor: pointer;
		/* 3 */
	}
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled], html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	line-height: normal;
	&[type="checkbox"], &[type="radio"] {
		box-sizing: border-box;
		/* 1 */
		padding: 0;
		/* 2 */
	}
	&[type="number"] {
		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
			height: auto;
		}
	}
	&[type="search"] {
		-webkit-appearance: textfield;
		/* 1 */
		/* 2 */
		box-sizing: content-box;
		&::-webkit-search-cancel-button, &::-webkit-search-decoration {
			-webkit-appearance: none;
		}
	}
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	padding: 0;
}

#container:before, .cf:before, .main__sales-outer:before, .catalog:before, .teachers:before, #container:after, .cf:after, .main__sales-outer:after, .catalog:after, .teachers:after {
	content: ' ';
	display: table;
}

#container:after, .cf:after, .main__sales-outer:after, .catalog:after, .teachers:after {
	clear: both;
}

.header__cart:before {
	display: inline-block;
	vertical-align: baseline;
	font-family: Icomoon;
	font-style: normal;
	font-weight: normal;
	vertical-align: baseline;
}

.slider-outer {
	.left-arrow:before, .right-arrow:before {
		display: inline-block;
		vertical-align: baseline;
		font-family: Icomoon;
		font-style: normal;
		font-weight: normal;
		vertical-align: baseline;
	}
}

.icon-fb .footer__social__link:before, .icon-vk .footer__social__link:before, .icon-inst .footer__social__link:before, .icon-yt .footer__social__link:before {
	display: inline-block;
	vertical-align: baseline;
	font-family: Icomoon;
	font-style: normal;
	font-weight: normal;
	vertical-align: baseline;
}

html {
	height: 100%;
	min-width: 1160px;
}

body {
	position: relative;
	min-height: 100%;
	background: #dfe0e2 url("../img/css/bg.jpg");
	color: #1c3f51;
	font-family: "PFDin TextCondPro", Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.2;
}

#wrapper {
	overflow: hidden;
	position: relative;
}

#container {
	box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
	position: relative;
	width: 1120px;
	margin: 0 auto;
	padding: 0 20px;
	background: #fff;
}

#fade {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 990;
}

a:hover {
	text-decoration: none;
}

iframe {
	border: none;
}

img {
	max-width: 100%;
}

p {
	/* android browser hack */
	background: url("");
	&:first-child {
		margin-top: 0;
	}
}

table {
	width: 100%;
}

button, select {
	cursor: pointer;
}

fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

input, textarea, th, td {
	padding: 0;
}

input:focus, textarea:focus, button {
	outline: 0;
}

textarea {
	resize: vertical;
}

input, textarea {
	box-sizing: border-box;
}

input::-moz-focus-inner, button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

:focus {
	&:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder {
		color: transparent !important;
	}
}

.header {
	position: relative;
}

.header--float .header__top {
	background: rgba(23, 90, 112, 0.7);
}

.header__top {
	position: relative;
	height: 96px;
	background: #175a70;
	color: #fff;
}

.header__logo, .footer__logo {
	background: url("../img/css/logo.png") no-repeat;
	display: block;
	position: absolute;
	top: 14px;
	left: 20px;
	height: 52px;
	padding: 15px 0 0 190px;
	color: #fff;
	font-weight: 200;
	text-decoration: none;
	text-transform: uppercase;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
	.header__logo, .footer__logo {
		background-image: url("../img/../img/css/logo@2x.png");
		background-size: 158px 67px;
	}
}

.header__actions {
	position: absolute;
	top: 20px;
	right: 20px;
	text-align: right;
	text-transform: uppercase;
}

.header__login, .header__reg {
	display: inline-block;
	margin-left: 10px;
	padding: 0;
	background: none;
	border: none;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.header__login:hover, .header__reg:hover {
	text-decoration: underline;
}

.header__phone {
	color: #fff;
	font-size: 26px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
}

.header__showroom {
	color: #fff;
	font-size: 12px;
	line-height: 1.2;
}

.header__bottom {
	position: relative;
}

.header__cart {
	border-radius: 3px;
	display: block;
	position: absolute;
	top: 5px;
	right: 20px;
	padding: 0 8px;
	background: #ff6c00;
	color: #fff;
	font-size: 10px;
	font-weight: 600;
	line-height: 16px;
	text-decoration: none;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 6px;
		left: -18px;
		font-size: 20px;
	}
}

.header--float {
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	z-index: 2;
}

.nav {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	background: #4ca7c4;
}

.header--float .nav {
	background: rgba(76, 167, 196, 0.7);
}

.nav__item {
	float: left;
}

.nav__link {
	display: block;
	padding: 0 12px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	text-decoration: none;
	text-transform: uppercase;
}

.is-active .nav__link, .nav__link:hover {
	background: #178cb2;
}

.nav2 {
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
	width: 100%;
	border-bottom: 1px solid #175a70;
}

.nav2__item {
	display: table-cell;
	padding: 3px 0;
}

.nav2__link {
	display: block;
	padding: 0 10px;
	color: #175a70;
	font-size: 16px;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.is-active .nav2__link, .nav2__link:hover {
	background: #e7f3f7;
}

.main {
	position: relative;
	margin-bottom: 50px;
	z-index: 1;
}

.main__big-column {
	float: left;
	width: 645px;
}

.main__small-column {
	float: right;
	width: 455px;
	.title2 {
		font-weight: 600;
	}
}

.main__title {
	margin: 0 0 25px;
	color: #178cb2;
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
	+ .schedule {
		margin-top: 0 !important;
	}
}

.main__sales-outer {
	float: left;
	width: 700px;
}

.main__sales {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main__sales__item {
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
	overflow: hidden;
	position: relative;
	float: left;
	width: 220px;
	height: 370px;
	+ .main__sales__item {
		margin-left: 20px;
	}
	img {
		display: block;
		width: 214px;
		height: 364px;
		border: 3px solid #fff;
	}
}

.main__news {
	float: right;
	width: 400px;
}

.main__calendar-feng-shui {
	padding: 3px 0 0 78px;
	background: url("../img/css/feng_shui.jpg") no-repeat;
	a {
		color: #178cb2;
		font-weight: 600;
	}
	p {
		margin: 10px 0;
	}
	.title, .title2 {
		margin: 0 0 10px;
	}
}

.main__calendar-feng-shui__date {
	display: block;
	font-size: 20px;
	font-weight: 600;
}

.main .main__video {
	position: relative;
	a {
		position: absolute;
		top: 5px;
		right: 0;
		color: #178cb2;
	}
}

.main__music {
	list-style: none;
	margin: -10px 0 10px;
	padding: 0;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #ededed;
}

.main__music__item {
	height: 36px;
	padding: 5px 0;
	border-top: 1px solid #ededed;
	color: #838383;
	font-size: 14px;
	line-height: 18px;
}

.main__music__inner {
	float: left;
	overflow: hidden;
	position: relative;
	width: 36px;
	margin-right: 20px;
}

.main__music__title {
	color: #1c3f51;
	font-weight: 600;
}

.main__book {
	overflow: hidden;
	position: relative;
	font-size: 14px;
	line-height: 1.2;
	img {
		float: left;
		margin-right: 20px;
	}
	p {
		margin-top: 0;
		font-weight: 200;
	}
	.title, .title2 {
		margin-bottom: 10px;
	}
}

.main__book__link {
	display: block;
	color: #1c3f51;
	text-decoration: none;
	&:hover .main__book__title {
		text-decoration: underline;
	}
}

.main__book__title {
	margin: 0;
	color: #175a70;
	font-size: 24px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	small {
		display: block;
		font-size: 16px;
		line-height: 20px;
	}
}

.main--aside {
	float: right;
	width: 880px;
	margin-top: 14px;
}

.sidebar {
	float: left;
	width: 210px;
	margin: 14px 0 50px;
}

.sidebar__nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar__nav__item {
	border-bottom: 1px solid #175a70;
}

.sidebar__nav__link {
	display: block;
	position: relative;
	padding: 7px 10px 7px 20px;
	color: #175a70;
	font-size: 16px;
	line-height: 21px;
	text-decoration: none;
	text-transform: uppercase;
	&:before {
		content: '-';
		display: block;
		position: absolute;
		top: 7px;
		left: 10px;
	}
}

.is-active .sidebar__nav__link, .sidebar__nav__link:hover {
	background: #175a70;
	color: #fff;
}

.sidebar > .sidebar__title:first-child {
	margin-top: 0;
}

.sidebar__title {
	margin: 35px 0 10px;
	color: #939393;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
}

.sidebar__slider-outer {
	position: relative;
	padding-bottom: 24px;
	.bounding-box {
		box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
		overflow: hidden;
		position: relative;
		width: 220px;
		height: 370px;
		margin: 0 auto;
	}
	.left-arrow, .right-arrow {
		display: none;
	}
}

.sidebar__slider-outer__switcher {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.sidebar__slider-outer__switcher__item {
	border-radius: 50%;
	width: 11px;
	height: 11px;
	padding: 0;
	background: #175a70;
	border: 2px solid #fff;
}

.sidebar__slider-outer__switcher .is-active {
	border-color: #175a70;
}

.sidebar__slider {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 999px;
}

.sidebar__slider__item {
	float: left;
	overflow: hidden;
	position: relative;
	width: 220px;
}

.sidebar__book {
	font-size: 12px;
	line-height: 1.2;
	img {
		display: block;
		margin: 0 auto;
	}
	p {
		margin-top: 0;
		font-weight: 200;
	}
}

.sidebar__book__link {
	display: block;
	color: #1c3f51;
	text-decoration: none;
	&:hover .sidebar__book__title {
		text-decoration: underline;
	}
}

.sidebar__book__title {
	margin: 0;
	color: #175a70;
	font-size: 24px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	small {
		display: block;
		font-size: 16px;
		line-height: 20px;
	}
}

.sidebar__more, .main__more {
	color: #178cb2;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
}

.sidebar__news {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #1c3f51;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
}

.main__news .sidebar__news {
	font-size: 20px;
}

.sidebar__news p {
	margin: 10px 0 0;
}

.sidebar__news__item {
	margin-bottom: 22px;
}

.sidebar__news__date {
	display: inline-block;
	width: 98px;
	background: #178cb2;
	border-top: 1px solid #4ca7c4;
	border-bottom: 1px solid #4ca7c4;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.sidebar__news__link {
	color: #178cb2;
	font-size: 18px;
}

.article {
	.title, .title2 {
		margin-bottom: 0;
	}
}

.article__intro {
	color: #838383;
	font-size: 20px;
	font-weight: 600;
	font-style: italic;
}

.article__title {
	margin: 40px 0 20px;
	font-size: 22px;
	font-weight: 600;
}

.article__list {
	list-style: none;
	margin: 1em 0;
	padding: 0;
	li {
		position: relative;
		padding-left: 20px;
		&:before {
			content: '-';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.breadcrumbs {
	list-style: none;
	margin: 0 0 20px;
	padding: 0;
	overflow: hidden;
}

.breadcrumbs__item {
	float: left;
	color: #838383;
	font-size: 10px;
	line-height: 12px;
	text-transform: uppercase;
}

.breadcrumbs__link {
	color: #175a70;
	&:after {
		content: '»';
		display: inline-block;
		margin: 0 5px;
		font-size: 12px;
		vertical-align: top;
	}
}

.catalog {
	list-style: none;
	margin: 24px 0 0;
	padding: 0;
	border-bottom: 2px solid #ededed;
}

.catalog__item {
	float: left;
	position: relative;
	width: 202px;
	padding-bottom: 24px;
	+ .catalog__item {
		margin-left: 27px;
	}
}

.main--aside .catalog__item + .catalog__item {
	margin-left: 24px;
}

.catalog__item--new:after {
	width: 75px;
	height: 75px;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background: url("../img/css/label_new.png");
	z-index: 2;
}

.catalog__inner {
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
	box-sizing: border-box;
	position: relative;
	height: 363px;
	padding: 30px 12px 0;
	text-align: center;
}

.catalog__info {
	position: absolute;
	bottom: 12px;
	left: 12px;
	right: 12px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
	text-transform: uppercase;
	z-index: 2;
	small {
		display: block;
		font-size: 12px;
		line-height: 1.2;
	}
}

.catalog__price {
	font-size: 22px;
	font-weight: bold;
	line-height: 1.2;
	s {
		font-size: 16px;
	}
}

.catalog__code {
	font-size: 12px;
	line-height: 1.2;
}

.catalog__buy {
	display: block;
	margin-top: 12px;
	background: #ff6c00;
	border-bottom: 5px solid #b34c00;
	color: #fff;
	line-height: 42px;
	text-decoration: none;
	&:hover {
		background: #b34c00;
		border-color: #ff6c00;
	}
}

.pagination {
	list-style: none;
	margin: 15px 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}

.pagination__item {
	float: left;
	width: 39px;
	margin-right: 1px;
	line-height: 37px;
	text-align: center;
}

.pagination__link {
	display: block;
	border: 1px solid #175a70;
	color: #175a70;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}

.is-active .pagination__link, .pagination__link:hover {
	background: #175a70;
	color: #fff;
}

.popup {
	border-radius: 5px;
	box-sizing: border-box;
	display: none;
	position: fixed;
	top: 30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 20px;
	background: #fff;
	z-index: 999;
}

.popup__close {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 12px;
	height: 12px;
	padding: 0;
	background: none;
	border: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}

.popup__submit {
	width: 80px;
	height: 30px;
	background: #178cb2;
	border: none;
	color: #fff;
	&:hover {
		background: #4ca7c4;
	}
}

.popup--login {
	width: 300px;
	text-align: center;
	input {
		display: block;
		width: 260px;
		height: 30px;
		margin: 0 0 10px;
		padding: 0 10px;
		font-size: 14px;
	}
}

.schedule {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main__big-column .schedule {
	margin-top: 45px;
}

.schedule__item {
	position: relative;
	min-height: 60px;
	padding-left: 80px;
	font-size: 18px;
	line-height: 1.2;
	+ .schedule__item {
		margin-top: 25px;
	}
	a {
		color: #178cb2;
	}
	p {
		margin: 10px 0 0;
		font-weight: 200;
	}
}

.schedule__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
}

.schedule__title {
	margin: 0 0 10px;
	font-size: 22px;
	font-weight: bold;
	line-height: 1.2;
}

.schedule__date {
	display: block;
	color: #838383;
	font-weight: bold;
}

.slider-outer {
	overflow: hidden;
	position: relative;
	height: 475px;
	margin-bottom: 30px;
}

.slider-outer__controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 240px;
	height: 32px;
	background: rgba(0, 67, 89, 0.7);
	line-height: 32px;
	text-align: right;
	z-index: 2;
}

.slider-outer {
	.left-arrow, .right-arrow {
		margin: 0 15px;
		background: none;
		border: none;
		color: #fff;
		font-size: 16px;
	}
	.left-arrow:before {
		content: "";
	}
	.right-arrow:before {
		content: "";
	}
}

.slider-outer__switcher {
	display: inline-block;
	vertical-align: top;
}

.slider-outer__switcher__item {
	border-radius: 50%;
	width: 7px;
	height: 7px;
	margin: 0 4px;
	padding: 0;
	background: #fff;
	border: none;
	vertical-align: middle;
	&.is-active {
		width: 11px;
		height: 11px;
		border: 4px solid #fff;
	}
}

.slider-outer__affirmatio-outer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 240px;
	background: rgba(255, 255, 255, 0.7);
}

.slider-outer__affirmatio {
	border-radius: 3px;
	overflow: hidden;
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 200px;
	height: 296px;
	background: #175a70;
	img {
		display: block;
		width: 200px;
	}
}

.slider-outer__affirmatio__inner {
	border-radius: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background: #175a70;
	color: #fff;
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
}

.slider {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 2999px;
}

.slider__item {
	float: left;
	position: relative;
	width: 1120px;
}

.slider__link {
	color: #fff;
	text-decoration: none;
}

.slider__text {
	position: absolute;
	bottom: 75px;
	right: 270px;
	color: #fff;
	text-transform: uppercase;
	z-index: 2;
}

.slider__inner {
	display: inline-block;
	padding: 0 30px;
}

.slider__title {
	margin: 0;
	font-size: 60px;
	font-weight: 200;
	line-height: 93px;
	.slider__inner {
		background: rgba(0, 94, 125, 0.6);
	}
}

.slider__subtitle {
	margin: 0;
	font-size: 30px;
	font-weight: 200;
	line-height: 53px;
	.slider__inner {
		background: rgba(0, 94, 125, 0.9);
	}
}

.teachers {
	list-style: none;
	margin: 0 0 40px;
	padding: 0 0 24px;
	border-bottom: 2px solid #ededed;
}

.teachers__item {
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
	float: left;
	width: 200px;
	text-align: center;
	+ .teachers__item {
		margin-left: 30px;
	}
}

.teachers__img {
	display: block;
	width: 200px;
	height: 209px;
}

.teachers__name {
	display: table-cell;
	width: 200px;
	height: 54px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	vertical-align: middle;
}

.title {
	margin: 20px 0;
	color: #838383;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.2;
	text-transform: uppercase;
}

.title2 {
	margin: 20px 0;
	color: #838383;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.2;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.2;
}

.footer {
	clear: both;
	overflow: hidden;
	position: relative;
	margin: 0 -20px;
	padding: 45px 250px 20px;
	background: #175a70;
	color: #fff;
	font-size: 12px;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	p {
		margin: 1em 0 0;
	}
}

.footer__logo {
	top: 45px;
	width: 158px;
	padding-left: 0;
}

.footer__nav {
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 105px;
	float: left;
	text-align: left;
	+ .footer__nav {
		margin-left: 60px;
	}
}

.footer__nav__item {
	margin-bottom: 8px;
}

.footer__nav__link {
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.footer__social {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	top: 45px;
	right: 20px;
}

.footer__social__item {
	float: left;
	width: 36px;
	margin-left: 15px;
}

.footer__social__link {
	border-radius: 5px;
	display: block;
	height: 36px;
	background: #fff;
	color: #175a70;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	&:hover {
		background: #175a70;
		color: #fff;
	}
}

.icon-fb .footer__social__link:before {
	content: "";
}

.icon-vk .footer__social__link:before {
	content: "";
}

.icon-inst .footer__social__link:before {
	content: "";
}

.icon-yt .footer__social__link:before {
	content: "";
}

.i-center {
	text-align: center;
}

.i-text-right {
	text-align: right;
}

.i-float-left {
	float: left;
}

.i-float-right {
	float: right;
}

.i-color-orange {
	color: #ff6c00;
}

.teachers__img {
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);

	/* Element must "hasLayout"! */
	zoom: 1;

	&:hover {
		filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);
	}
}