.ps-container {
	.ps-scrollbar-x-rail {
		position: absolute;
		/* please don't change 'position' */
		bottom: 3px;
		/* there must be 'bottom' for ps-scrollbar-x-rail */
		height: 8px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		opacity: 0.3;
		filter: alpha(opacity=0);
		-o-transition: background-color .2s linear, opacity .2s linear;
		-webkit-transition: background-color .2s linear, opacity .2s linear;
		-moz-transition: background-color .2s linear, opacity .2s linear;
		transition: background-color .2s linear, opacity .2s linear;
  	}

  	&:hover .ps-scrollbar-x-rail, &.hover .ps-scrollbar-x-rail {
		opacity: 0.8;
		filter: alpha(opacity=80);
  	}

  	.ps-scrollbar-x-rail {
		&:hover, &.hover {
	 		background-color: #eee;
	  		opacity: 0.9;
	  		filter: alpha(opacity=90);
		}

		&.in-scrolling {
	  		background-color: #eee;
	  		opacity: 0.9;
	  		filter: alpha(opacity=90);
		}
  	}

  	.ps-scrollbar-y-rail {
		position: absolute;
		/* please don't change 'position' */
		right: 3px;
		/* there must be 'right' for ps-scrollbar-y-rail */
		width: 8px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		opacity: 0;
		filter: alpha(opacity=0);
		-o-transition: background-color .2s linear, opacity .2s linear;
		-webkit-transition: background-color .2s linear, opacity .2s linear;
		-moz-transition: background-color .2s linear, opacity .2s linear;
		transition: background-color .2s linear, opacity .2s linear;
  	}

  	&:hover .ps-scrollbar-y-rail, &.hover .ps-scrollbar-y-rail {
		opacity: 0.6;
		filter: alpha(opacity=60);
  	}

	.ps-scrollbar-y-rail {
		&:hover, &.hover {
			background-color: #eee;
			opacity: 0.9;
			filter: alpha(opacity=90);
		}

		&.in-scrolling {
			background-color: #eee;
			opacity: 0.9;
			filter: alpha(opacity=90);
		}
	}

	.ps-scrollbar-x {
		position: absolute;
		/* please don't change 'position' */
		bottom: 0;
		/* there must be 'bottom' for ps-scrollbar-x */
		height: 8px;
		background-color: #175a70;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-o-transition: background-color .2s linear;
		-webkit-transition: background-color .2s linear;
		-moz-transition: background-color .2s linear;
		transition: background-color .2s linear;
	}

	.ps-scrollbar-x-rail {
		&:hover .ps-scrollbar-x, &.hover .ps-scrollbar-x {
		  	background-color: #175a70;
		}
	}

	.ps-scrollbar-y {
		position: absolute;
		/* please don't change 'position' */
		right: 0;
		/* there must be 'right' for ps-scrollbar-y */
		width: 8px;
		background-color: #175a70;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-o-transition: background-color .2s linear;
		-webkit-transition: background-color .2s linear;
		-moz-transition: background-color .2s linear;
		transition: background-color .2s linear;
	}

	.ps-scrollbar-y-rail {
		&:hover .ps-scrollbar-y, &.hover .ps-scrollbar-y {
			background-color: #175a70;
		}
	}
}