@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-4s8f6k');
	src:url('fonts/icomoon.eot?#iefix-4s8f6k') format('embedded-opentype'),
		url('fonts/icomoon.woff?-4s8f6k') format('woff'),
		url('fonts/icomoon.ttf?-4s8f6k') format('truetype'),
		url('fonts/icomoon.svg?-4s8f6k#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tag:before {
	content: "\e610";
}
.icon-tags:before {
	content: "\e611";
}
.icon-instagram:before {
	content: "\e60c";
}
.icon-feed:before {
	content: "\e60b";
}
.icon-cart:before {
	content: "\e602";
}
.icon-cart2:before {
	content: "\e603";
}
.icon-radio-checked:before {
	content: "\e816";
}
.icon-radio-unchecked:before {
	content: "\e817";
}
.icon-map-pin-alt:before {
	content: "\e807";
}
.icon-warning:before {
	content: "\e614";
}
.icon-notification:before {
	content: "\e615";
}
.icon-spam:before {
	content: "\e616";
}
.icon-arrow-left:before {
	content: "\e607";
}
.icon-arrow-down2:before {
	content: "\e608";
}
.icon-arrow-up2:before {
	content: "\e609";
}
.icon-arrow-right:before {
	content: "\e60a";
}
.icon-arrow-down:before {
	content: "\e600";
}
.icon-arrow-up:before {
	content: "\e601";
}
.icon-user:before {
	content: "\e604";
}
.icon-share:before {
	content: "\e814";
}
.icon-linkedin:before {
	content: "\e60d";
}
.icon-mail2:before {
	content: "\e60f";
}
.icon-warning3:before {
	content: "\e61a";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-ruble:before {
	content: "\f158";
}
.icon-google-plus:before {
	content: "\e80f";
}
.icon-facebook:before {
	content: "\e80e";
}
.icon-twitter:before {
	content: "\e80d";
}
.icon-odnoklassniki:before {
	content: "\e800";
}
.icon-vkontakte:before {
	content: "\e801";
}
.icon-youtube:before {
	content: "\e60e";
}
.icon-slideshare:before {
	content: "\e612";
}
.icon-yandex-rect:before {
	content: "\e613";
}
.icon-thumbs-up:before {
	content: "\e810";
}
.icon-thumbs-down:before {
	content: "\e811";
}
.icon-heart:before {
	content: "\e803";
}
.icon-star:before {
	content: "\e804";
}
.icon-search:before {
	content: "\e802";
}
.icon-camera:before {
	content: "\e806";
}
.icon-phone:before {
	content: "\e80c";
}
.icon-check:before {
	content: "\e805";
}
.icon-eye:before {
	content: "\e605";
}
.icon-eye-outline:before {
	content: "\e606";
}
.icon-cross:before {
	content: "\e117";
}
.icon-zoomin:before {
	content: "\e813";
}
.icon-earth:before {
	content: "\e812";
}
