@charset "UTF-8";
@font-face {
  font-family: "PFDin TextCondPro";
  src: url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-regular.woff") format("woff"), url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-regular.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-regular.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PFDin TextCondPro";
  src: url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-italic.woff") format("woff"), url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-italic.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-italic.svg") format("svg");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "PFDin TextCondPro";
  src: url("../fonts/PF Din Cond Pro/thin/pfdintextcondpro-thin.woff") format("woff"), url("../fonts/PF Din Cond Pro/thin/pfdintextcondpro-thin.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/thin/pfdintextcondpro-thin.svg") format("svg");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "PFDin TextCondPro";
  src: url("../fonts/PF Din Cond Pro/bold/pfdintextcondpro-bold.woff") format("woff"), url("../fonts/PF Din Cond Pro/bold/pfdintextcondpro-bold.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/bold/pfdintextcondpro-bold.svg") format("svg");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "PFDin TextCondPro";
  src: url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medium.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medium.svg") format("svg");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "PFDin TextCondPro";
  src: url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medital.woff") format("woff"), url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medital.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medital.svg") format("svg");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "Icomoon";
  src: url("../fonts/icomoon/fonts/icomoon.woff") format("woff"), url("../fonts/icomoon/fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon/fonts/icomoon.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 59, ../sass/ie9.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 72, ../sass/ie9.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 84, ../sass/ie9.scss */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 93, ../sass/ie9.scss */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 105, ../sass/ie9.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 115, ../sass/ie9.scss */
[hidden], template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 125, ../sass/ie9.scss */
a {
  background: transparent;
}
/* line 127, ../sass/ie9.scss */
a:active, a:hover {
  outline: 0;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 142, ../sass/ie9.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 150, ../sass/ie9.scss */
b, strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 158, ../sass/ie9.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 167, ../sass/ie9.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 176, ../sass/ie9.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 185, ../sass/ie9.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 193, ../sass/ie9.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 200, ../sass/ie9.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 208, ../sass/ie9.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 218, ../sass/ie9.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 226, ../sass/ie9.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 236, ../sass/ie9.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 244, ../sass/ie9.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 253, ../sass/ie9.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 261, ../sass/ie9.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 279, ../sass/ie9.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 292, ../sass/ie9.scss */
button {
  overflow: visible;
  text-transform: none;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 304, ../sass/ie9.scss */
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 316, ../sass/ie9.scss */
button, html input[type="button"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/* line 324, ../sass/ie9.scss */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 336, ../sass/ie9.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 344, ../sass/ie9.scss */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 349, ../sass/ie9.scss */
input {
  line-height: normal;
}
/* line 350, ../sass/ie9.scss */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 355, ../sass/ie9.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/* line 362, ../sass/ie9.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/* line 366, ../sass/ie9.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}
/* line 371, ../sass/ie9.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/**
 * Define consistent border, margin, and padding.
 */
/* line 412, ../sass/ie9.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 423, ../sass/ie9.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 434, ../sass/ie9.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 443, ../sass/ie9.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 453, ../sass/ie9.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 458, ../sass/ie9.scss */
td, th {
  padding: 0;
}

/* line 462, ../sass/ie9.scss */
#container:before, .cf:before, .main__sales-outer:before, .catalog:before, .teachers:before, #container:after, .cf:after, .main__sales-outer:after, .catalog:after, .teachers:after {
  content: ' ';
  display: table;
}

/* line 467, ../sass/ie9.scss */
#container:after, .cf:after, .main__sales-outer:after, .catalog:after, .teachers:after {
  clear: both;
}

/* line 471, ../sass/ie9.scss */
.header__cart:before {
  display: inline-block;
  vertical-align: baseline;
  font-family: Icomoon;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

/* line 481, ../sass/ie9.scss */
.slider-outer .left-arrow:before, .slider-outer .right-arrow:before {
  display: inline-block;
  vertical-align: baseline;
  font-family: Icomoon;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

/* line 491, ../sass/ie9.scss */
.icon-fb .footer__social__link:before, .icon-vk .footer__social__link:before, .icon-inst .footer__social__link:before, .icon-yt .footer__social__link:before {
  display: inline-block;
  vertical-align: baseline;
  font-family: Icomoon;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

/* line 500, ../sass/ie9.scss */
html {
  height: 100%;
  min-width: 1160px;
}

/* line 505, ../sass/ie9.scss */
body {
  position: relative;
  min-height: 100%;
  background: #dfe0e2 url("../img/css/bg.jpg");
  color: #1c3f51;
  font-family: "PFDin TextCondPro", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

/* line 515, ../sass/ie9.scss */
#wrapper {
  overflow: hidden;
  position: relative;
}

/* line 520, ../sass/ie9.scss */
#container {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
  position: relative;
  width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
  background: #fff;
}

/* line 529, ../sass/ie9.scss */
#fade {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 990;
}

/* line 539, ../sass/ie9.scss */
a:hover {
  text-decoration: none;
}

/* line 543, ../sass/ie9.scss */
iframe {
  border: none;
}

/* line 547, ../sass/ie9.scss */
img {
  max-width: 100%;
}

/* line 551, ../sass/ie9.scss */
p {
  /* android browser hack */
  background: url("");
}
/* line 554, ../sass/ie9.scss */
p:first-child {
  margin-top: 0;
}

/* line 559, ../sass/ie9.scss */
table {
  width: 100%;
}

/* line 563, ../sass/ie9.scss */
button, select {
  cursor: pointer;
}

/* line 567, ../sass/ie9.scss */
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

/* line 573, ../sass/ie9.scss */
input, textarea, th, td {
  padding: 0;
}

/* line 577, ../sass/ie9.scss */
input:focus, textarea:focus, button {
  outline: 0;
}

/* line 581, ../sass/ie9.scss */
textarea {
  resize: vertical;
}

/* line 585, ../sass/ie9.scss */
input, textarea {
  box-sizing: border-box;
}

/* line 589, ../sass/ie9.scss */
input::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 595, ../sass/ie9.scss */
:focus:-moz-placeholder, :focus::-moz-placeholder, :focus:-ms-input-placeholder, :focus::-webkit-input-placeholder {
  color: transparent !important;
}

/* line 600, ../sass/ie9.scss */
.header {
  position: relative;
}

/* line 604, ../sass/ie9.scss */
.header--float .header__top {
  background: rgba(23, 90, 112, 0.7);
}

/* line 608, ../sass/ie9.scss */
.header__top {
  position: relative;
  height: 96px;
  background: #175a70;
  color: #fff;
}

/* line 615, ../sass/ie9.scss */
.header__logo, .footer__logo {
  background: url("../img/css/logo.png") no-repeat;
  display: block;
  position: absolute;
  top: 14px;
  left: 20px;
  height: 52px;
  padding: 15px 0 0 190px;
  color: #fff;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 630, ../sass/ie9.scss */
  .header__logo, .footer__logo {
    background-image: url("../img/../img/css/logo@2x.png");
    background-size: 158px 67px;
  }
}
/* line 636, ../sass/ie9.scss */
.header__actions {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  text-transform: uppercase;
}

/* line 644, ../sass/ie9.scss */
.header__login, .header__reg {
  display: inline-block;
  margin-left: 10px;
  padding: 0;
  background: none;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 657, ../sass/ie9.scss */
.header__login:hover, .header__reg:hover {
  text-decoration: underline;
}

/* line 661, ../sass/ie9.scss */
.header__phone {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

/* line 669, ../sass/ie9.scss */
.header__showroom {
  color: #fff;
  font-size: 12px;
  line-height: 1.2;
}

/* line 675, ../sass/ie9.scss */
.header__bottom {
  position: relative;
}

/* line 679, ../sass/ie9.scss */
.header__cart {
  border-radius: 3px;
  display: block;
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 0 8px;
  background: #ff6c00;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  text-decoration: none;
}
/* line 692, ../sass/ie9.scss */
.header__cart:before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: -18px;
  font-size: 20px;
}

/* line 702, ../sass/ie9.scss */
.header--float {
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  z-index: 2;
}

/* line 710, ../sass/ie9.scss */
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  background: #4ca7c4;
}

/* line 719, ../sass/ie9.scss */
.header--float .nav {
  background: rgba(76, 167, 196, 0.7);
}

/* line 723, ../sass/ie9.scss */
.nav__item {
  float: left;
}

/* line 727, ../sass/ie9.scss */
.nav__link {
  display: block;
  padding: 0 12px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 738, ../sass/ie9.scss */
.is-active .nav__link, .nav__link:hover {
  background: #178cb2;
}

/* line 742, ../sass/ie9.scss */
.nav2 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  border-bottom: 1px solid #175a70;
}

/* line 751, ../sass/ie9.scss */
.nav2__item {
  display: table-cell;
  padding: 3px 0;
}

/* line 756, ../sass/ie9.scss */
.nav2__link {
  display: block;
  padding: 0 10px;
  color: #175a70;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 767, ../sass/ie9.scss */
.is-active .nav2__link, .nav2__link:hover {
  background: #e7f3f7;
}

/* line 771, ../sass/ie9.scss */
.main {
  position: relative;
  margin-bottom: 50px;
  z-index: 1;
}

/* line 777, ../sass/ie9.scss */
.main__big-column {
  float: left;
  width: 645px;
}

/* line 782, ../sass/ie9.scss */
.main__small-column {
  float: right;
  width: 455px;
}
/* line 785, ../sass/ie9.scss */
.main__small-column .title2 {
  font-weight: 600;
}

/* line 790, ../sass/ie9.scss */
.main__title {
  margin: 0 0 25px;
  color: #178cb2;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 796, ../sass/ie9.scss */
.main__title + .schedule {
  margin-top: 0 !important;
}

/* line 801, ../sass/ie9.scss */
.main__sales-outer {
  float: left;
  width: 700px;
}

/* line 806, ../sass/ie9.scss */
.main__sales {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 812, ../sass/ie9.scss */
.main__sales__item {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  overflow: hidden;
  position: relative;
  float: left;
  width: 220px;
  height: 370px;
}
/* line 819, ../sass/ie9.scss */
.main__sales__item + .main__sales__item {
  margin-left: 20px;
}
/* line 822, ../sass/ie9.scss */
.main__sales__item img {
  display: block;
  width: 214px;
  height: 364px;
  border: 3px solid #fff;
}

/* line 830, ../sass/ie9.scss */
.main__news {
  float: right;
  width: 400px;
}

/* line 835, ../sass/ie9.scss */
.main__calendar-feng-shui {
  padding: 3px 0 0 78px;
  background: url("../img/css/feng_shui.jpg") no-repeat;
}
/* line 838, ../sass/ie9.scss */
.main__calendar-feng-shui a {
  color: #178cb2;
  font-weight: 600;
}
/* line 842, ../sass/ie9.scss */
.main__calendar-feng-shui p {
  margin: 10px 0;
}
/* line 845, ../sass/ie9.scss */
.main__calendar-feng-shui .title, .main__calendar-feng-shui .title2 {
  margin: 0 0 10px;
}

/* line 850, ../sass/ie9.scss */
.main__calendar-feng-shui__date {
  display: block;
  font-size: 20px;
  font-weight: 600;
}

/* line 856, ../sass/ie9.scss */
.main .main__video {
  position: relative;
}
/* line 858, ../sass/ie9.scss */
.main .main__video a {
  position: absolute;
  top: 5px;
  right: 0;
  color: #178cb2;
}

/* line 866, ../sass/ie9.scss */
.main__music {
  list-style: none;
  margin: -10px 0 10px;
  padding: 0;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #ededed;
}

/* line 875, ../sass/ie9.scss */
.main__music__item {
  height: 36px;
  padding: 5px 0;
  border-top: 1px solid #ededed;
  color: #838383;
  font-size: 14px;
  line-height: 18px;
}

/* line 884, ../sass/ie9.scss */
.main__music__inner {
  float: left;
  overflow: hidden;
  position: relative;
  width: 36px;
  margin-right: 20px;
}

/* line 892, ../sass/ie9.scss */
.main__music__title {
  color: #1c3f51;
  font-weight: 600;
}

/* line 897, ../sass/ie9.scss */
.main__book {
  overflow: hidden;
  position: relative;
  font-size: 14px;
  line-height: 1.2;
}
/* line 902, ../sass/ie9.scss */
.main__book img {
  float: left;
  margin-right: 20px;
}
/* line 906, ../sass/ie9.scss */
.main__book p {
  margin-top: 0;
  font-weight: 200;
}
/* line 910, ../sass/ie9.scss */
.main__book .title, .main__book .title2 {
  margin-bottom: 10px;
}

/* line 915, ../sass/ie9.scss */
.main__book__link {
  display: block;
  color: #1c3f51;
  text-decoration: none;
}
/* line 919, ../sass/ie9.scss */
.main__book__link:hover .main__book__title {
  text-decoration: underline;
}

/* line 924, ../sass/ie9.scss */
.main__book__title {
  margin: 0;
  color: #175a70;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
/* line 931, ../sass/ie9.scss */
.main__book__title small {
  display: block;
  font-size: 16px;
  line-height: 20px;
}

/* line 938, ../sass/ie9.scss */
.main--aside {
  float: right;
  width: 880px;
  margin-top: 14px;
}

/* line 944, ../sass/ie9.scss */
.sidebar {
  float: left;
  width: 210px;
  margin: 14px 0 50px;
}

/* line 950, ../sass/ie9.scss */
.sidebar__nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 956, ../sass/ie9.scss */
.sidebar__nav__item {
  border-bottom: 1px solid #175a70;
}

/* line 960, ../sass/ie9.scss */
.sidebar__nav__link {
  display: block;
  position: relative;
  padding: 7px 10px 7px 20px;
  color: #175a70;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 969, ../sass/ie9.scss */
.sidebar__nav__link:before {
  content: '-';
  display: block;
  position: absolute;
  top: 7px;
  left: 10px;
}

/* line 978, ../sass/ie9.scss */
.is-active .sidebar__nav__link, .sidebar__nav__link:hover {
  background: #175a70;
  color: #fff;
}

/* line 983, ../sass/ie9.scss */
.sidebar > .sidebar__title:first-child {
  margin-top: 0;
}

/* line 987, ../sass/ie9.scss */
.sidebar__title {
  margin: 35px 0 10px;
  color: #939393;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 995, ../sass/ie9.scss */
.sidebar__slider-outer {
  position: relative;
  padding-bottom: 24px;
}
/* line 998, ../sass/ie9.scss */
.sidebar__slider-outer .bounding-box {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  overflow: hidden;
  position: relative;
  width: 220px;
  height: 370px;
  margin: 0 auto;
}
/* line 1006, ../sass/ie9.scss */
.sidebar__slider-outer .left-arrow, .sidebar__slider-outer .right-arrow {
  display: none;
}

/* line 1011, ../sass/ie9.scss */
.sidebar__slider-outer__switcher {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* line 1019, ../sass/ie9.scss */
.sidebar__slider-outer__switcher__item {
  border-radius: 50%;
  width: 11px;
  height: 11px;
  padding: 0;
  background: #175a70;
  border: 2px solid #fff;
}

/* line 1028, ../sass/ie9.scss */
.sidebar__slider-outer__switcher .is-active {
  border-color: #175a70;
}

/* line 1032, ../sass/ie9.scss */
.sidebar__slider {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 999px;
}

/* line 1043, ../sass/ie9.scss */
.sidebar__slider__item {
  float: left;
  overflow: hidden;
  position: relative;
  width: 220px;
}

/* line 1050, ../sass/ie9.scss */
.sidebar__book {
  font-size: 12px;
  line-height: 1.2;
}
/* line 1053, ../sass/ie9.scss */
.sidebar__book img {
  display: block;
  margin: 0 auto;
}
/* line 1057, ../sass/ie9.scss */
.sidebar__book p {
  margin-top: 0;
  font-weight: 200;
}

/* line 1063, ../sass/ie9.scss */
.sidebar__book__link {
  display: block;
  color: #1c3f51;
  text-decoration: none;
}
/* line 1067, ../sass/ie9.scss */
.sidebar__book__link:hover .sidebar__book__title {
  text-decoration: underline;
}

/* line 1072, ../sass/ie9.scss */
.sidebar__book__title {
  margin: 0;
  color: #175a70;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
/* line 1079, ../sass/ie9.scss */
.sidebar__book__title small {
  display: block;
  font-size: 16px;
  line-height: 20px;
}

/* line 1086, ../sass/ie9.scss */
.sidebar__more, .main__more {
  color: #178cb2;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

/* line 1094, ../sass/ie9.scss */
.sidebar__news {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #1c3f51;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}

/* line 1104, ../sass/ie9.scss */
.main__news .sidebar__news {
  font-size: 20px;
}

/* line 1108, ../sass/ie9.scss */
.sidebar__news p {
  margin: 10px 0 0;
}

/* line 1112, ../sass/ie9.scss */
.sidebar__news__item {
  margin-bottom: 22px;
}

/* line 1116, ../sass/ie9.scss */
.sidebar__news__date {
  display: inline-block;
  width: 98px;
  background: #178cb2;
  border-top: 1px solid #4ca7c4;
  border-bottom: 1px solid #4ca7c4;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

/* line 1128, ../sass/ie9.scss */
.sidebar__news__link {
  color: #178cb2;
  font-size: 18px;
}

/* line 1134, ../sass/ie9.scss */
.article .title, .article .title2 {
  margin-bottom: 0;
}

/* line 1139, ../sass/ie9.scss */
.article__intro {
  color: #838383;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

/* line 1146, ../sass/ie9.scss */
.article__title {
  margin: 40px 0 20px;
  font-size: 22px;
  font-weight: 600;
}

/* line 1152, ../sass/ie9.scss */
.article__list {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
/* line 1156, ../sass/ie9.scss */
.article__list li {
  position: relative;
  padding-left: 20px;
}
/* line 1159, ../sass/ie9.scss */
.article__list li:before {
  content: '-';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 1169, ../sass/ie9.scss */
.breadcrumbs {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  overflow: hidden;
}

/* line 1176, ../sass/ie9.scss */
.breadcrumbs__item {
  float: left;
  color: #838383;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}

/* line 1184, ../sass/ie9.scss */
.breadcrumbs__link {
  color: #175a70;
}
/* line 1186, ../sass/ie9.scss */
.breadcrumbs__link:after {
  content: '»';
  display: inline-block;
  margin: 0 5px;
  font-size: 12px;
  vertical-align: top;
}

/* line 1195, ../sass/ie9.scss */
.catalog {
  list-style: none;
  margin: 24px 0 0;
  padding: 0;
  border-bottom: 2px solid #ededed;
}

/* line 1202, ../sass/ie9.scss */
.catalog__item {
  float: left;
  position: relative;
  width: 202px;
  padding-bottom: 24px;
}
/* line 1207, ../sass/ie9.scss */
.catalog__item + .catalog__item {
  margin-left: 27px;
}

/* line 1212, ../sass/ie9.scss */
.main--aside .catalog__item + .catalog__item {
  margin-left: 24px;
}

/* line 1216, ../sass/ie9.scss */
.catalog__item--new:after {
  width: 75px;
  height: 75px;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../img/css/label_new.png");
  z-index: 2;
}

/* line 1228, ../sass/ie9.scss */
.catalog__inner {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  box-sizing: border-box;
  position: relative;
  height: 363px;
  padding: 30px 12px 0;
  text-align: center;
}

/* line 1237, ../sass/ie9.scss */
.catalog__info {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  z-index: 2;
}
/* line 1247, ../sass/ie9.scss */
.catalog__info small {
  display: block;
  font-size: 12px;
  line-height: 1.2;
}

/* line 1254, ../sass/ie9.scss */
.catalog__price {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
}
/* line 1258, ../sass/ie9.scss */
.catalog__price s {
  font-size: 16px;
}

/* line 1263, ../sass/ie9.scss */
.catalog__code {
  font-size: 12px;
  line-height: 1.2;
}

/* line 1268, ../sass/ie9.scss */
.catalog__buy {
  display: block;
  margin-top: 12px;
  background: #ff6c00;
  border-bottom: 5px solid #b34c00;
  color: #fff;
  line-height: 42px;
  text-decoration: none;
}
/* line 1276, ../sass/ie9.scss */
.catalog__buy:hover {
  background: #b34c00;
  border-color: #ff6c00;
}

/* line 1282, ../sass/ie9.scss */
.pagination {
  list-style: none;
  margin: 15px 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

/* line 1290, ../sass/ie9.scss */
.pagination__item {
  float: left;
  width: 39px;
  margin-right: 1px;
  line-height: 37px;
  text-align: center;
}

/* line 1298, ../sass/ie9.scss */
.pagination__link {
  display: block;
  border: 1px solid #175a70;
  color: #175a70;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

/* line 1307, ../sass/ie9.scss */
.is-active .pagination__link, .pagination__link:hover {
  background: #175a70;
  color: #fff;
}

/* line 1312, ../sass/ie9.scss */
.popup {
  border-radius: 5px;
  box-sizing: border-box;
  display: none;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  z-index: 999;
}

/* line 1326, ../sass/ie9.scss */
.popup__close {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 12px;
  height: 12px;
  padding: 0;
  background: none;
  border: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

/* line 1342, ../sass/ie9.scss */
.popup__submit {
  width: 80px;
  height: 30px;
  background: #178cb2;
  border: none;
  color: #fff;
}
/* line 1348, ../sass/ie9.scss */
.popup__submit:hover {
  background: #4ca7c4;
}

/* line 1353, ../sass/ie9.scss */
.popup--login {
  width: 300px;
  text-align: center;
}
/* line 1356, ../sass/ie9.scss */
.popup--login input {
  display: block;
  width: 260px;
  height: 30px;
  margin: 0 0 10px;
  padding: 0 10px;
  font-size: 14px;
}

/* line 1366, ../sass/ie9.scss */
.schedule {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 1372, ../sass/ie9.scss */
.main__big-column .schedule {
  margin-top: 45px;
}

/* line 1376, ../sass/ie9.scss */
.schedule__item {
  position: relative;
  min-height: 60px;
  padding-left: 80px;
  font-size: 18px;
  line-height: 1.2;
}
/* line 1382, ../sass/ie9.scss */
.schedule__item + .schedule__item {
  margin-top: 25px;
}
/* line 1385, ../sass/ie9.scss */
.schedule__item a {
  color: #178cb2;
}
/* line 1388, ../sass/ie9.scss */
.schedule__item p {
  margin: 10px 0 0;
  font-weight: 200;
}

/* line 1394, ../sass/ie9.scss */
.schedule__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}

/* line 1402, ../sass/ie9.scss */
.schedule__title {
  margin: 0 0 10px;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
}

/* line 1409, ../sass/ie9.scss */
.schedule__date {
  display: block;
  color: #838383;
  font-weight: bold;
}

/* line 1415, ../sass/ie9.scss */
.slider-outer {
  overflow: hidden;
  position: relative;
  height: 475px;
  margin-bottom: 30px;
}

/* line 1422, ../sass/ie9.scss */
.slider-outer__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 240px;
  height: 32px;
  background: rgba(0, 67, 89, 0.7);
  line-height: 32px;
  text-align: right;
  z-index: 2;
}

/* line 1435, ../sass/ie9.scss */
.slider-outer .left-arrow, .slider-outer .right-arrow {
  margin: 0 15px;
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
}
/* line 1442, ../sass/ie9.scss */
.slider-outer .left-arrow:before {
  content: "";
}
/* line 1445, ../sass/ie9.scss */
.slider-outer .right-arrow:before {
  content: "";
}

/* line 1450, ../sass/ie9.scss */
.slider-outer__switcher {
  display: inline-block;
  vertical-align: top;
}

/* line 1455, ../sass/ie9.scss */
.slider-outer__switcher__item {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin: 0 4px;
  padding: 0;
  background: #fff;
  border: none;
  vertical-align: middle;
}
/* line 1464, ../sass/ie9.scss */
.slider-outer__switcher__item.is-active {
  width: 11px;
  height: 11px;
  border: 4px solid #fff;
}

/* line 1471, ../sass/ie9.scss */
.slider-outer__affirmatio-outer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 240px;
  background: rgba(255, 255, 255, 0.7);
}

/* line 1480, ../sass/ie9.scss */
.slider-outer__affirmatio {
  border-radius: 3px;
  overflow: hidden;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 200px;
  height: 296px;
  background: #175a70;
}
/* line 1489, ../sass/ie9.scss */
.slider-outer__affirmatio img {
  display: block;
  width: 200px;
}

/* line 1495, ../sass/ie9.scss */
.slider-outer__affirmatio__inner {
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #175a70;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

/* line 1509, ../sass/ie9.scss */
.slider {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 2999px;
}

/* line 1520, ../sass/ie9.scss */
.slider__item {
  float: left;
  position: relative;
  width: 1120px;
}

/* line 1526, ../sass/ie9.scss */
.slider__link {
  color: #fff;
  text-decoration: none;
}

/* line 1531, ../sass/ie9.scss */
.slider__text {
  position: absolute;
  bottom: 75px;
  right: 270px;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
}

/* line 1540, ../sass/ie9.scss */
.slider__inner {
  display: inline-block;
  padding: 0 30px;
}

/* line 1545, ../sass/ie9.scss */
.slider__title {
  margin: 0;
  font-size: 60px;
  font-weight: 200;
  line-height: 93px;
}
/* line 1550, ../sass/ie9.scss */
.slider__title .slider__inner {
  background: rgba(0, 94, 125, 0.6);
}

/* line 1555, ../sass/ie9.scss */
.slider__subtitle {
  margin: 0;
  font-size: 30px;
  font-weight: 200;
  line-height: 53px;
}
/* line 1560, ../sass/ie9.scss */
.slider__subtitle .slider__inner {
  background: rgba(0, 94, 125, 0.9);
}

/* line 1565, ../sass/ie9.scss */
.teachers {
  list-style: none;
  margin: 0 0 40px;
  padding: 0 0 24px;
  border-bottom: 2px solid #ededed;
}

/* line 1572, ../sass/ie9.scss */
.teachers__item {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  float: left;
  width: 200px;
  text-align: center;
}
/* line 1577, ../sass/ie9.scss */
.teachers__item + .teachers__item {
  margin-left: 30px;
}

/* line 1582, ../sass/ie9.scss */
.teachers__img {
  display: block;
  width: 200px;
  height: 209px;
}

/* line 1588, ../sass/ie9.scss */
.teachers__name {
  display: table-cell;
  width: 200px;
  height: 54px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: middle;
}

/* line 1598, ../sass/ie9.scss */
.title {
  margin: 20px 0;
  color: #838383;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

/* line 1607, ../sass/ie9.scss */
.title2 {
  margin: 20px 0;
  color: #838383;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}

/* line 1619, ../sass/ie9.scss */
.footer {
  clear: both;
  overflow: hidden;
  position: relative;
  margin: 0 -20px;
  padding: 45px 250px 20px;
  background: #175a70;
  color: #fff;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
/* line 1631, ../sass/ie9.scss */
.footer p {
  margin: 1em 0 0;
}

/* line 1636, ../sass/ie9.scss */
.footer__logo {
  top: 45px;
  width: 158px;
  padding-left: 0;
}

/* line 1642, ../sass/ie9.scss */
.footer__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 105px;
  float: left;
  text-align: left;
}
/* line 1649, ../sass/ie9.scss */
.footer__nav + .footer__nav {
  margin-left: 60px;
}

/* line 1654, ../sass/ie9.scss */
.footer__nav__item {
  margin-bottom: 8px;
}

/* line 1658, ../sass/ie9.scss */
.footer__nav__link {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
/* line 1664, ../sass/ie9.scss */
.footer__nav__link:hover {
  text-decoration: underline;
}

/* line 1669, ../sass/ie9.scss */
.footer__social {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 45px;
  right: 20px;
}

/* line 1679, ../sass/ie9.scss */
.footer__social__item {
  float: left;
  width: 36px;
  margin-left: 15px;
}

/* line 1685, ../sass/ie9.scss */
.footer__social__link {
  border-radius: 5px;
  display: block;
  height: 36px;
  background: #fff;
  color: #175a70;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}
/* line 1694, ../sass/ie9.scss */
.footer__social__link:hover {
  background: #175a70;
  color: #fff;
}

/* line 1700, ../sass/ie9.scss */
.icon-fb .footer__social__link:before {
  content: "";
}

/* line 1704, ../sass/ie9.scss */
.icon-vk .footer__social__link:before {
  content: "";
}

/* line 1708, ../sass/ie9.scss */
.icon-inst .footer__social__link:before {
  content: "";
}

/* line 1712, ../sass/ie9.scss */
.icon-yt .footer__social__link:before {
  content: "";
}

/* line 1716, ../sass/ie9.scss */
.i-center {
  text-align: center;
}

/* line 1720, ../sass/ie9.scss */
.i-text-right {
  text-align: right;
}

/* line 1724, ../sass/ie9.scss */
.i-float-left {
  float: left;
}

/* line 1728, ../sass/ie9.scss */
.i-float-right {
  float: right;
}

/* line 1732, ../sass/ie9.scss */
.i-color-orange {
  color: #ff6c00;
}

/* line 1736, ../sass/ie9.scss */
.teachers__img {
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  /* Element must "hasLayout"! */
  zoom: 1;
}
/* line 1742, ../sass/ie9.scss */
.teachers__img:hover {
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);
}
