@font-face {
  font-family: "PFDin TextCondPro";
  src: url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-regular.woff") format("woff"), url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-regular.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-regular.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PFDin TextCondPro";
  src: url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-italic.woff") format("woff"), url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-italic.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/regular/pfdintextcondpro-italic.svg") format("svg");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "PFDin TextCondPro";
  src: url("../fonts/PF Din Cond Pro/thin/pfdintextcondpro-thin.woff") format("woff"), url("../fonts/PF Din Cond Pro/thin/pfdintextcondpro-thin.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/thin/pfdintextcondpro-thin.svg") format("svg");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "PFDin TextCondPro";
  src: url("../fonts/PF Din Cond Pro/bold/pfdintextcondpro-bold.woff") format("woff"), url("../fonts/PF Din Cond Pro/bold/pfdintextcondpro-bold.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/bold/pfdintextcondpro-bold.svg") format("svg");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "PFDin TextCondPro";
  src: url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medium.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medium.svg") format("svg");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "PFDin TextCondPro";
  src: url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medital.woff") format("woff"), url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medital.ttf") format("truetype"), url("../fonts/PF Din Cond Pro/medium/pfdintextcondpro-medital.svg") format("svg");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "Icomoon";
  src: url("../fonts/icomoon/fonts/icomoon.woff") format("woff"), url("../fonts/icomoon/fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon/fonts/icomoon.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 61, ../sass/style.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 74, ../sass/style.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 86, ../sass/style.scss */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 95, ../sass/style.scss */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 107, ../sass/style.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 117, ../sass/style.scss */
[hidden], template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 127, ../sass/style.scss */
a {
  background: transparent;
}
/* line 129, ../sass/style.scss */
a:active, a:hover {
  outline: 0;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 144, ../sass/style.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 152, ../sass/style.scss */
b, strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 160, ../sass/style.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 169, ../sass/style.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 178, ../sass/style.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 187, ../sass/style.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 195, ../sass/style.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 202, ../sass/style.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 210, ../sass/style.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 220, ../sass/style.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 228, ../sass/style.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 238, ../sass/style.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 246, ../sass/style.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 255, ../sass/style.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 263, ../sass/style.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 281, ../sass/style.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 294, ../sass/style.scss */
button {
  overflow: visible;
  text-transform: none;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 306, ../sass/style.scss */
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 318, ../sass/style.scss */
button, html input[type="button"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/* line 326, ../sass/style.scss */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 338, ../sass/style.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 346, ../sass/style.scss */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 351, ../sass/style.scss */
input {
  line-height: normal;
}
/* line 352, ../sass/style.scss */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 357, ../sass/style.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/* line 364, ../sass/style.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/* line 368, ../sass/style.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}
/* line 373, ../sass/style.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/**
 * Define consistent border, margin, and padding.
 */
/* line 414, ../sass/style.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 425, ../sass/style.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 436, ../sass/style.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 445, ../sass/style.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 455, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 460, ../sass/style.scss */
td, th {
  padding: 0;
}

/* line 464, ../sass/style.scss */
.icons, .header__cart:before, .breadcrumbs__link:after {
  font-family: Icomoon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 478, ../sass/style.scss */
#container:before, .cf:before, .main__sales-outer:before, .catalog:before, .teachers:before, #container:after, .cf:after, .main__sales-outer:after, .catalog:after, .teachers:after {
  content: ' ';
  display: table;
}

/* line 483, ../sass/style.scss */
#container:after, .cf:after, .main__sales-outer:after, .catalog:after, .teachers:after {
  clear: both;
}

/* line 488, ../sass/style.scss */
.slider-outer .left-arrow:before, .slider-outer .right-arrow:before {
  display: inline-block;
  vertical-align: baseline;
  font-family: Icomoon;
  font-style: normal;
  font-weight: normal;
}

/* line 497, ../sass/style.scss */
.icon-fb .footer__social__link:before, .icon-vk .footer__social__link:before, .icon-inst .footer__social__link:before, .icon-yt .footer__social__link:before, .icon-od .footer__social__link:before {
  display: inline-block;
  vertical-align: baseline;
}

/* line 502, ../sass/style.scss */
html {
  height: 100%;
  min-width: 1160px;
}

/* line 507, ../sass/style.scss */
body {
  position: relative;
  min-height: 100%;
  background: #dfe0e2 url("../img/css/bg.jpg");
  color: #1c3f51;
  font-family: "PFDin TextCondPro", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 519, ../sass/style.scss */
#wrapper {
  overflow: hidden;
  position: relative;
}

/* line 524, ../sass/style.scss */
#container {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
  position: relative;
  width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
  background: #fff;
}

/* line 533, ../sass/style.scss */
#fade {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 990;
}

/* line 543, ../sass/style.scss */
a {
  -webkit-transition: background .2s, color .2s;
  transition: background .2s, color .2s;
}
/* line 546, ../sass/style.scss */
a:hover {
  text-decoration: none;
}

/* line 551, ../sass/style.scss */
iframe {
  border: none;
}

/* line 555, ../sass/style.scss */
img {
  max-width: 100%;
}

/* line 559, ../sass/style.scss */
p {
  /* android browser hack */
  background: url("");
}
/* line 562, ../sass/style.scss */
p:first-child {
  margin-top: 0;
}

/* line 567, ../sass/style.scss */
table {
  width: 100%;
}

/* line 571, ../sass/style.scss */
button, select {
  cursor: pointer;
}

/* line 575, ../sass/style.scss */
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

/* line 581, ../sass/style.scss */
input, textarea, th, td {
  padding: 0;
}

/* line 585, ../sass/style.scss */
input:focus, textarea:focus, button {
  outline: 0;
}

/* line 589, ../sass/style.scss */
textarea {
  resize: vertical;
}

/* line 593, ../sass/style.scss */
input, textarea {
  box-sizing: border-box;
}

/* line 597, ../sass/style.scss */
input::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 603, ../sass/style.scss */
:focus:-moz-placeholder, :focus::-moz-placeholder, :focus:-ms-input-placeholder, :focus::-webkit-input-placeholder {
  color: transparent !important;
}

/* line 608, ../sass/style.scss */
.header {
  position: relative;
}

/* line 612, ../sass/style.scss */
.header--float .header__top {
  background: rgba(23, 90, 112, 0.7);
}

/* line 616, ../sass/style.scss */
.header__top {
  position: relative;
  height: 96px;
  background: #175a70;
  color: #fff;
}

/* line 623, ../sass/style.scss */
.header__logo, .footer__logo {
  background: url("../img/css/logo.png") no-repeat;
  display: block;
  position: absolute;
  top: 14px;
  left: 20px;
  height: 52px;
  padding: 15px 0 0 190px;
  color: #fff;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 638, ../sass/style.scss */
  .header__logo, .footer__logo {
    background-image: url("../img/../img/css/logo@2x.png");
    background-size: 158px 67px;
  }
}
/* line 644, ../sass/style.scss */
.header__actions {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  text-transform: uppercase;
}

/* line 652, ../sass/style.scss */
.header__login, .header__reg {
  display: inline-block;
  margin-left: 10px;
  padding: 0;
  background: none;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 665, ../sass/style.scss */
.header__login:hover, .header__reg:hover {
  text-decoration: underline;
}

/* line 669, ../sass/style.scss */
.header__phone {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

/* line 677, ../sass/style.scss */
.header__showroom {
  color: #fff;
  font-size: 12px;
  line-height: 1.2;
}

/* line 683, ../sass/style.scss */
.header__bottom {
  position: relative;
}

/* line 687, ../sass/style.scss */
.header__cart {
  border-radius: 3px;
  display: block;
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 0 8px;
  background: #ff6c00;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  text-decoration: none;
}
/* line 701, ../sass/style.scss */
.header__cart:before {
  content: '\e602';
  display: inline-block;
  position: absolute;
  top: 6px;
  left: -18px;
  font-size: 20px;
  vertical-align: baseline;
}
/* line 712, ../sass/style.scss */
.header__cart--hidden {
  visibility: hidden;
}

/* line 717, ../sass/style.scss */
.header--float {
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  z-index: 2;
}

/* line 725, ../sass/style.scss */
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  background: #4ca7c4;
}

/* line 734, ../sass/style.scss */
.header--float .nav {
  background: rgba(76, 167, 196, 0.7);
}

/* line 738, ../sass/style.scss */
.nav__item {
  float: left;
}

/* line 742, ../sass/style.scss */
.nav__link {
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  display: block;
  padding: 0 12px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 755, ../sass/style.scss */
.is-active .nav__link, .nav__link:hover {
  background: #178cb2;
}

/* line 759, ../sass/style.scss */
.nav2 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  border-bottom: 1px solid #175a70;
}

/* line 768, ../sass/style.scss */
.nav2__item {
  display: table-cell;
  padding: 3px 0;
}

/* line 773, ../sass/style.scss */
.nav2__link {
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  display: block;
  padding: 0 10px;
  color: #175a70;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 786, ../sass/style.scss */
.is-active .nav2__link, .nav2__link:hover {
  background: #e7f3f7;
}

/* line 790, ../sass/style.scss */
.main {
  position: relative;
  margin-bottom: 50px;
  z-index: 1;
}
/* line 796, ../sass/style.scss */
.main__more.button {
  display: block;
  position: absolute;
  height: 26px;
  padding: 0 20px;
  line-height: 1.7 !important;
  background: #0081ab;
  color: #ffffff !important;
}
/* line 805, ../sass/style.scss */
.main__more.button:after {
  content: '';
  display: block;
  width: 10px;
  height: 26px;
  position: absolute;
  top: 0;
  right: -10px;
  background: url(/img/css/wrap-end-blue.png) no-repeat center;
}
/* line 817, ../sass/style.scss */
.main__more__wrap {
  max-width: 625px;
  height: 26px;
  position: relative;
  background: #e7e7e7;
}
/* line 823, ../sass/style.scss */
.main__more__wrap:after {
  content: '';
  display: block;
  width: 20px;
  height: 26px;
  position: absolute;
  top: 0;
  right: -20px;
  background: url(/img/css/wrap-end.png) no-repeat center;
}

/* line 837, ../sass/style.scss */
.main__big-column {
  float: left;
  width: 645px;
}

/* line 842, ../sass/style.scss */
.main__small-column {
  float: right;
  width: 455px;
}
/* line 845, ../sass/style.scss */
.main__small-column .title2 {
  font-weight: 600;
}

/* line 850, ../sass/style.scss */
.main__title {
  margin: 0 0 25px;
  color: #178cb2;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 856, ../sass/style.scss */
.main__title + .schedule {
  margin-top: 0 !important;
}

/* line 861, ../sass/style.scss */
.main__sales-outer {
  float: left;
  width: 700px;
}

/* line 866, ../sass/style.scss */
.main__sales {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 872, ../sass/style.scss */
.main__sales__item {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  overflow: hidden;
  position: relative;
  float: left;
  width: 220px;
  height: 370px;
}
/* line 879, ../sass/style.scss */
.main__sales__item + .main__sales__item {
  margin-left: 20px;
}
/* line 882, ../sass/style.scss */
.main__sales__item img {
  display: block;
  width: 214px;
  height: 364px;
  border: 3px solid #fff;
}

/* line 890, ../sass/style.scss */
.main__news {
  float: right;
  width: 400px;
}

/* line 895, ../sass/style.scss */
.main__calendar-feng-shui {
  padding: 3px 0 0 78px;
  background: url("../img/css/feng_shui.jpg") no-repeat;
}
/* line 898, ../sass/style.scss */
.main__calendar-feng-shui a {
  color: #178cb2;
  font-weight: 600;
}
/* line 902, ../sass/style.scss */
.main__calendar-feng-shui p {
  margin: 10px 0;
}
/* line 905, ../sass/style.scss */
.main__calendar-feng-shui .title, .main__calendar-feng-shui .title2 {
  margin: 0 0 10px;
}

/* line 910, ../sass/style.scss */
.main__calendar-feng-shui__date {
  display: block;
  font-size: 20px;
  font-weight: 600;
}

/* line 916, ../sass/style.scss */
.main .main__video {
  position: relative;
}
/* line 918, ../sass/style.scss */
.main .main__video a {
  position: absolute;
  top: 5px;
  right: 0;
  color: #178cb2;
}

/* line 926, ../sass/style.scss */
.main__music {
  list-style: none;
  margin: -10px 0 10px;
  padding: 0;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #ededed;
}

/* line 935, ../sass/style.scss */
.main__music__item {
  height: 36px;
  padding: 5px 0;
  border-top: 1px solid #ededed;
  color: #838383;
  font-size: 14px;
  line-height: 18px;
}

/* line 944, ../sass/style.scss */
.main__music__inner {
  float: left;
  overflow: hidden;
  position: relative;
  width: 36px;
  margin-right: 20px;
}

/* line 952, ../sass/style.scss */
.main__music__title {
  color: #1c3f51;
  font-weight: 600;
}

/* line 957, ../sass/style.scss */
.main__book {
  overflow: hidden;
  position: relative;
  font-size: 14px;
  line-height: 1.2;
}
/* line 962, ../sass/style.scss */
.main__book img {
  float: left;
  margin-right: 20px;
}
/* line 966, ../sass/style.scss */
.main__book p {
  margin-top: 0;
  font-weight: 200;
}
/* line 970, ../sass/style.scss */
.main__book .title, .main__book .title2 {
  margin-bottom: 10px;
}

/* line 975, ../sass/style.scss */
.main__book__link {
  display: block;
  color: #1c3f51;
  text-decoration: none;
}
/* line 979, ../sass/style.scss */
.main__book__link:hover .main__book__title {
  text-decoration: underline;
}

/* line 984, ../sass/style.scss */
.main__book__title {
  margin: 0;
  color: #175a70;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
/* line 991, ../sass/style.scss */
.main__book__title small {
  display: block;
  font-size: 16px;
  line-height: 20px;
}

/* line 998, ../sass/style.scss */
.main--aside {
  float: right;
  width: 880px;
  margin-top: 14px;
}

/* line 1004, ../sass/style.scss */
.sidebar {
  float: left;
  width: 210px;
  margin: 14px 0 50px;
}

/* line 1010, ../sass/style.scss */
.sidebar__nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 1016, ../sass/style.scss */
.sidebar__nav__item {
  border-bottom: 1px solid #175a70;
}

/* line 1020, ../sass/style.scss */
.sidebar__nav__link {
  -webkit-transition: background .2s, color .2s;
  transition: background .2s, color .2s;
  display: block;
  position: relative;
  padding: 7px 10px 7px 20px;
  color: #175a70;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 1031, ../sass/style.scss */
.sidebar__nav__link:before {
  content: '-';
  display: block;
  position: absolute;
  top: 7px;
  left: 10px;
}

/* line 1040, ../sass/style.scss */
.is-active .sidebar__nav__link, .sidebar__nav__link:hover {
  background: #175a70;
  color: #fff;
}

/* line 1045, ../sass/style.scss */
.sidebar > .sidebar__title:first-child {
  margin-top: 0;
}

/* line 1049, ../sass/style.scss */
.sidebar__title {
  margin: 35px 0 10px;
  color: #939393;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 1057, ../sass/style.scss */
.sidebar__slider-outer {
  position: relative;
  padding-bottom: 24px;
}
/* line 1060, ../sass/style.scss */
.sidebar__slider-outer .bounding-box {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  overflow: hidden;
  position: relative;
  width: 220px;
  height: 370px;
  margin: 0 auto;
}
/* line 1068, ../sass/style.scss */
.sidebar__slider-outer .left-arrow, .sidebar__slider-outer .right-arrow {
  display: none;
}

/* line 1073, ../sass/style.scss */
.sidebar__slider-outer__switcher {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* line 1081, ../sass/style.scss */
.sidebar__slider-outer__switcher__item {
  border-radius: 50%;
  width: 11px;
  height: 11px;
  padding: 0;
  background: #175a70;
  border: 2px solid #fff;
}

/* line 1090, ../sass/style.scss */
.sidebar__slider-outer__switcher .is-active {
  border-color: #175a70;
}

/* line 1094, ../sass/style.scss */
.sidebar__slider {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 999px;
}

/* line 1105, ../sass/style.scss */
.sidebar__slider__item {
  float: left;
  overflow: hidden;
  position: relative;
  width: 220px;
}

/* line 1112, ../sass/style.scss */
.sidebar__book {
  font-size: 12px;
  line-height: 1.2;
}
/* line 1115, ../sass/style.scss */
.sidebar__book img {
  display: block;
  margin: 0 auto;
}
/* line 1119, ../sass/style.scss */
.sidebar__book p {
  margin-top: 0;
  font-weight: 200;
}

/* line 1125, ../sass/style.scss */
.sidebar__book__link {
  display: block;
  color: #1c3f51;
  text-decoration: none;
}
/* line 1129, ../sass/style.scss */
.sidebar__book__link:hover .sidebar__book__title {
  text-decoration: underline;
}

/* line 1134, ../sass/style.scss */
.sidebar__book__title {
  margin: 0;
  color: #175a70;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
/* line 1141, ../sass/style.scss */
.sidebar__book__title small {
  display: block;
  font-size: 16px;
  line-height: 20px;
}

/* line 1148, ../sass/style.scss */
.sidebar__more, .main__more {
  color: #178cb2;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

/* line 1156, ../sass/style.scss */
.sidebar__news {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #1c3f51;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}

/* line 1166, ../sass/style.scss */
.main__news .sidebar__news {
  font-size: 20px;
}

/* line 1170, ../sass/style.scss */
.sidebar__news p {
  margin: 10px 0 0;
}

/* line 1174, ../sass/style.scss */
.sidebar__news__item {
  margin-bottom: 22px;
}

/* line 1178, ../sass/style.scss */
.sidebar__news__date {
  display: inline-block;
  width: 98px;
  background: #178cb2;
  border-top: 1px solid #4ca7c4;
  border-bottom: 1px solid #4ca7c4;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

/* line 1190, ../sass/style.scss */
.sidebar__news__link {
  color: #178cb2;
  font-size: 18px;
}

/* line 1196, ../sass/style.scss */
.article .title, .article .title2 {
  margin-bottom: 0;
}

/* line 1201, ../sass/style.scss */
.article__intro {
  color: #838383;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

/* line 1208, ../sass/style.scss */
.article__title {
  margin: 40px 0 20px;
  font-size: 22px;
  font-weight: 600;
}

/* line 1214, ../sass/style.scss */
.article__list {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
/* line 1218, ../sass/style.scss */
.article__list li {
  position: relative;
  padding-left: 20px;
}
/* line 1221, ../sass/style.scss */
.article__list li:before {
  content: '-';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 1231, ../sass/style.scss */
.breadcrumbs {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  overflow: hidden;
}

/* line 1238, ../sass/style.scss */
.breadcrumbs__item {
  float: left;
  color: #838383;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}

/* line 1246, ../sass/style.scss */
.breadcrumbs__link {
  color: #175a70;
}
/* line 1249, ../sass/style.scss */
.breadcrumbs__link:after {
  content: '\f105\f105';
  display: inline-block;
  margin: 0 5px;
  font-size: 12px;
  vertical-align: top;
}

/* line 1259, ../sass/style.scss */
.catalog {
  position: relative;
  list-style: none;
  margin: 24px 0 0;
  padding: 0;
  border-bottom: 2px solid #ededed;
}

/* line 1267, ../sass/style.scss */
.catalog__item {
  float: left;
  position: relative;
  width: 202px;
  padding-bottom: 24px;
  margin-left: 24px;
}
/* line 1274, ../sass/style.scss */
.catalog__item:nth-child(4n + 1) {
  margin-left: 0;
}
/* line 1278, ../sass/style.scss */
.catalog__item:first-child {
  margin-left: 0;
}

/* line 1283, ../sass/style.scss */
.catalog__item--new:after {
  width: 75px;
  height: 75px;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../img/css/label_new.png");
  z-index: 2;
}

/* line 1295, ../sass/style.scss */
.catalog__inner {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  box-sizing: border-box;
  position: relative;
  height: 363px;
  padding: 30px 12px 0;
  text-align: center;
}

/* line 1304, ../sass/style.scss */
.catalog__info {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  z-index: 2;
}
/* line 1314, ../sass/style.scss */
.catalog__info small {
  display: block;
  font-size: 12px;
  line-height: 1.2;
}

/* line 1321, ../sass/style.scss */
.catalog__price {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
}
/* line 1325, ../sass/style.scss */
.catalog__price s {
  font-size: 16px;
}

/* line 1330, ../sass/style.scss */
.catalog__code {
  font-size: 12px;
  line-height: 1.2;
}

/* line 1335, ../sass/style.scss */
.catalog__buy {
  display: block;
  margin-top: 12px;
  background: #ff6c00;
  border-bottom: 5px solid #b34c00;
  color: #fff;
  line-height: 42px;
  text-decoration: none;
}
/* line 1343, ../sass/style.scss */
.catalog__buy:hover {
  background: #b34c00;
  border-color: #ff6c00;
}

/* line 1349, ../sass/style.scss */
.pagination {
  list-style: none;
  margin: 15px 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

/* line 1357, ../sass/style.scss */
.pagination__item {
  float: left;
  width: 39px;
  margin-right: 1px;
  line-height: 37px;
  text-align: center;
}

/* line 1365, ../sass/style.scss */
.pagination__link {
  display: block;
  border: 1px solid #175a70;
  color: #175a70;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

/* line 1374, ../sass/style.scss */
.is-active .pagination__link, .pagination__link:hover {
  background: #175a70;
  color: #fff;
}

/* line 1379, ../sass/style.scss */
.popup {
  border-radius: 5px;
  box-sizing: border-box;
  display: none;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  z-index: 999;
}

/* line 1393, ../sass/style.scss */
.popup__close {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 12px;
  height: 12px;
  padding: 0;
  background: none;
  border: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

/* line 1409, ../sass/style.scss */
.popup__submit {
  width: 80px;
  height: 30px;
  background: #178cb2;
  border: none;
  color: #fff;
}
/* line 1415, ../sass/style.scss */
.popup__submit:hover {
  background: #4ca7c4;
}

/* line 1420, ../sass/style.scss */
.popup--login {
  width: 300px;
  text-align: center;
}
/* line 1423, ../sass/style.scss */
.popup--login input {
  display: block;
  width: 260px;
  height: 30px;
  margin: 0 0 10px;
  padding: 0 10px;
  font-size: 14px;
}

/* line 1433, ../sass/style.scss */
.schedule {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 1439, ../sass/style.scss */
.main__big-column .schedule {
  margin-top: 45px;
}

/* line 1443, ../sass/style.scss */
.schedule__item {
  position: relative;
  min-height: 60px;
  padding-left: 80px;
  font-size: 18px;
  line-height: 1.2;
}
/* line 1449, ../sass/style.scss */
.schedule__item + .schedule__item {
  margin-top: 25px;
}
/* line 1452, ../sass/style.scss */
.schedule__item a {
  color: #178cb2;
}
/* line 1455, ../sass/style.scss */
.schedule__item p {
  margin: 10px 0 0;
  font-weight: 200;
}

/* line 1461, ../sass/style.scss */
.schedule__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}

/* line 1469, ../sass/style.scss */
.schedule__title {
  margin: 0 0 10px;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
}

/* line 1476, ../sass/style.scss */
.schedule__date {
  display: block;
  color: #838383;
  font-weight: bold;
}

/* line 1482, ../sass/style.scss */
.slider-outer {
  overflow: hidden;
  position: relative;
  height: 475px;
  margin-bottom: 30px;
}

/* line 1489, ../sass/style.scss */
.slider-outer__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 240px;
  height: 32px;
  background: rgba(0, 67, 89, 0.7);
  line-height: 32px;
  text-align: right;
  z-index: 2;
}

/* line 1502, ../sass/style.scss */
.slider-outer .left-arrow, .slider-outer .right-arrow {
  margin: 0 15px;
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
}
/* line 1509, ../sass/style.scss */
.slider-outer .left-arrow:before {
  content: "\f104";
}
/* line 1512, ../sass/style.scss */
.slider-outer .right-arrow:before {
  content: "\f105";
}

/* line 1517, ../sass/style.scss */
.slider-outer__switcher {
  display: inline-block;
  vertical-align: top;
}

/* line 1522, ../sass/style.scss */
.slider-outer__switcher__item {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin: 0 4px;
  padding: 0;
  background: #fff;
  border: none;
  vertical-align: middle;
}
/* line 1531, ../sass/style.scss */
.slider-outer__switcher__item.is-active {
  width: 11px;
  height: 11px;
  border: 4px solid #fff;
}

/* line 1538, ../sass/style.scss */
.slider-outer__affirmatio-outer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 240px;
  background: rgba(255, 255, 255, 0.7);
}

/* line 1547, ../sass/style.scss */
.slider-outer__affirmatio {
  border-radius: 3px;
  overflow: hidden;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 200px;
  height: 296px;
  background: #175a70;
}
/* line 1556, ../sass/style.scss */
.slider-outer__affirmatio img {
  display: block;
  width: 200px;
}

/* line 1562, ../sass/style.scss */
.slider-outer__affirmatio__inner {
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #175a70;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

/* line 1576, ../sass/style.scss */
.slider {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 2999px;
}

/* line 1587, ../sass/style.scss */
.slider__item {
  float: left;
  position: relative;
  width: 1120px;
}

/* line 1593, ../sass/style.scss */
.slider__link {
  color: #fff;
  text-decoration: none;
}

/* line 1598, ../sass/style.scss */
.slider__text {
  position: absolute;
  bottom: 75px;
  right: 270px;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
}

/* line 1607, ../sass/style.scss */
.slider__inner {
  display: inline-block;
  padding: 0 30px;
}

/* line 1612, ../sass/style.scss */
.slider__title {
  margin: 0;
  font-size: 60px;
  font-weight: 200;
  line-height: 93px;
}
/* line 1617, ../sass/style.scss */
.slider__title .slider__inner {
  background: rgba(0, 94, 125, 0.6);
}

/* line 1622, ../sass/style.scss */
.slider__subtitle {
  margin: 0;
  font-size: 30px;
  font-weight: 200;
  line-height: 53px;
}
/* line 1627, ../sass/style.scss */
.slider__subtitle .slider__inner {
  background: rgba(0, 94, 125, 0.9);
}

/* line 1632, ../sass/style.scss */
.teachers {
  list-style: none;
  margin: 0 0 40px;
  padding: 0 0 24px;
  border-bottom: 2px solid #ededed;
  height: 265px;
  position: relative;
  overflow: hidden;
}

/* line 1642, ../sass/style.scss */
.teachers__list {
  list-style: none;
  margin: 0 0 40px;
  padding: 0 0 24px;
  height: 263px;
  width: 5000px;
}

/* line 1650, ../sass/style.scss */
.teachers__item {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  float: left;
  width: 200px;
  text-align: center;
}
/* line 1655, ../sass/style.scss */
.teachers__item + .teachers__item {
  margin-left: 30px;
}
/* line 1659, ../sass/style.scss */
.teachers__item a {
  text-decoration: none;
  color: #000000;
}

/* line 1665, ../sass/style.scss */
.teachers__img {
  display: block;
  width: 200px;
  height: 209px;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* line 1672, ../sass/style.scss */
.teachers__name {
  display: table-cell;
  width: 200px;
  height: 54px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: middle;
}

/* line 1682, ../sass/style.scss */
.title {
  margin: 20px 0;
  color: #838383;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

/* line 1691, ../sass/style.scss */
.title2 {
  margin: 20px 0;
  color: #838383;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}

/* line 1703, ../sass/style.scss */
.footer {
  clear: both;
  overflow: hidden;
  position: relative;
  margin: 0 -20px;
  padding: 45px 250px 20px;
  background: #175a70;
  color: #fff;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
/* line 1715, ../sass/style.scss */
.footer p {
  margin: 1em 0 0;
}

/* line 1720, ../sass/style.scss */
.footer__logo {
  top: 45px;
  width: 158px;
  padding-left: 0;
}

/* line 1726, ../sass/style.scss */
.footer__nav {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 105px;
  float: left;
  text-align: left;
}
/* line 1733, ../sass/style.scss */
.footer__nav + .footer__nav {
  margin-left: 60px;
}

/* line 1738, ../sass/style.scss */
.footer__nav__item {
  margin-bottom: 8px;
}

/* line 1742, ../sass/style.scss */
.footer__nav__link {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
/* line 1748, ../sass/style.scss */
.footer__nav__link:hover {
  text-decoration: underline;
}

/* line 1753, ../sass/style.scss */
.footer__social {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 45px;
  right: 20px;
}

/* line 1763, ../sass/style.scss */
.footer__social__item {
  float: left;
  width: 36px;
  margin-left: 15px;
}

/* line 1769, ../sass/style.scss */
.footer__social__link {
  -webkit-transition: background .2s, color .2s;
  transition: background .2s, color .2s;
  border-radius: 5px;
  display: block;
  height: 36px;
  background: #fff;
  color: #175a70;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
}
/* line 1781, ../sass/style.scss */
.footer__social__link:before {
  font-family: Icomoon;
}
/* line 1784, ../sass/style.scss */
.footer__social__link:hover {
  background: #175a70;
  color: #fff;
}

/* line 1790, ../sass/style.scss */
.icon-fb .footer__social__link:before {
  content: "\e80e";
}

/* line 1794, ../sass/style.scss */
.icon-vk .footer__social__link:before {
  content: "\e801";
}

/* line 1798, ../sass/style.scss */
.icon-inst .footer__social__link:before {
  content: '\e60c';
}

/* line 1802, ../sass/style.scss */
.icon-yt .footer__social__link:before {
  content: "\e60e";
}

/* line 1806, ../sass/style.scss */
.icon-od .footer__social__link:before {
  content: "\e800";
}

/* line 1810, ../sass/style.scss */
.i-center {
  text-align: center;
}

/* line 1814, ../sass/style.scss */
.i-text-right {
  text-align: right;
}

/* line 1818, ../sass/style.scss */
.i-float-left {
  float: left;
}

/* line 1822, ../sass/style.scss */
.i-float-right {
  float: right;
}

/* line 1826, ../sass/style.scss */
.i-color-orange {
  color: #ff6c00;
}

/* line 1, ../sass/_shop.scss */
.shop-cats {
  list-style: none;
  padding: 10px 0;
}
/* line 5, ../sass/_shop.scss */
.shop-cats:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  clear: both;
}
/* line 13, ../sass/_shop.scss */
.shop-cats__item {
  display: block;
  float: left;
  width: 400px;
  margin: 0 0 25px 40px;
  position: relative;
}
/* line 20, ../sass/_shop.scss */
.shop-cats__item__img {
  display: block;
  position: absolute;
  width: 30px;
  top: -5px;
  left: -35px;
}
/* line 28, ../sass/_shop.scss */
.shop-cats__item__title {
  text-transform: uppercase;
  font-size: 24px;
  color: #929292;
  margin: 0 0 10px 0;
}
/* line 34, ../sass/_shop.scss */
.shop-cats__item__title span {
  font-size: 16px;
  vertical-align: top;
  font-weight: normal;
}

/* line 43, ../sass/_shop.scss */
.shop-subcats {
  list-style: none;
  padding: 0;
}
/* line 47, ../sass/_shop.scss */
.shop-subcats__item {
  text-transform: uppercase;
  color: #0081ab;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}
/* line 53, ../sass/_shop.scss */
.shop-subcats__item:after {
  content: '|';
  display: inline-block;
  margin: 0 0 0 5px;
  color: #b3b3b3;
}
/* line 61, ../sass/_shop.scss */
.shop-subcats__item:last-child:after {
  display: none;
}
/* line 67, ../sass/_shop.scss */
.shop-subcats__item a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
